body{
  background-color: #2A1F33;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.menu_list {
  text-decoration: none;
  color: #fff;
}
nav{
  width: 960px;
  margine: 0 auto;
  
}
nav:before{
  content:'';
  display: block;
  height: 50px;
  width: 100%;
  background-color: 	#190629;
  position: absolute;
  left: 0;
  z-index: -1;
  
}
.nav ul{
  padding: 0;
  margine:0;
  list-style:none;
  heigth:50px;
}
.menu_list{
  float: left;
  list-style-type: none;
  text-color: #000;
  
}
.menu_list{
  display: block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
   
}
.menu_list:hover{
  background:#2E0622;
  
}
nav.default {
width:920px;
}
nav.fixed {
    position:fixed;
    top:0; left:0;
    width:100%;
}
.main_circle{

  
  background: #2E0622;
  border: 1px solid white;
  margin-top: 50px;
  //margin-bottom: 50px;
  margin-left: 0;
  //overflow: hidden;
  
}
.charter_content_r{
  
  text-align: right;
  margin-top: 250px;
  margin-bottom: 250px;
  margin-left: 15%;
  margin-right: 35%;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  
 }
 .charter_content_l{
 
  text-align: left;
  margin-top: 250px;
  margin-bottom: 250px;
  margin-left: 25%;
  margin-right: 15%;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  
 }
 .main_circle img{
  width: 200px;
  padding-left: 100px;
  padding-right: 100px;
  transform: translateY(50%);
  margin-top: 0;


 }
.chaterpic{
  
  float: left; 
  border: 1px solid rgb(70, 201, 224);

}
.chaterpic_r{
float: right; 
//top:50%;
//padding-bottom: 0;
transform: translateY(-50%);
border: 1px solid rgb(70, 201, 224);


}
#Stanford_tx{
margin-left: 220px;
}
